@font-face {
  font-family: "Gotham";
  src: url("~/assets/fonts/GothamBlack.eot");
  src: url("~/assets/fonts/GothamBlack.eot?#iefix") format("embedded-opentype"),
    url("~/assets/fonts/GothamBlack.woff2") format("woff2"),
    url("~/assets/fonts/GothamBlack.woff") format("woff"),
    url("~/assets/fonts/GothamBlack.ttf") format("truetype"),
    url("~/assets/fonts/GothamBlack.svg#GothamBlack") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("~/assets/fonts/Helvetica-Bold.eot");
  src: url("~/assets/fonts/Helvetica-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("~/assets/fonts/Helvetica-Bold.woff2") format("woff2"),
    url("~/assets/fonts/Helvetica-Bold.woff") format("woff"),
    url("~/assets/fonts/Helvetica-Bold.ttf") format("truetype"),
    url("~/assets/fonts/Helvetica-Bold.svg#Helvetica-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("~/assets/fonts/HelveticaNeueRegular.eot");
  src: url("~/assets/fonts/HelveticaNeueRegular.eot?#iefix")
      format("embedded-opentype"),
    url("~/assets/fonts/HelveticaNeueRegular.woff2") format("woff2"),
    url("~/assets/fonts/HelveticaNeueRegular.woff") format("woff"),
    url("~/assets/fonts/HelveticaNeueRegular.ttf") format("truetype"),
    url("~/assets/fonts/HelveticaNeueRegular.svg#HelveticaNeueRegular")
      format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("~/assets/fonts/Helvetica-Light.eot");
  src: url("~/assets/fonts/Helvetica-Light.eot?#iefix")
      format("embedded-opentype"),
    url("~/assets/fonts/Helvetica-Light.woff2") format("woff2"),
    url("~/assets/fonts/Helvetica-Light.woff") format("woff"),
    url("~/assets/fonts/Helvetica-Light.ttf") format("truetype"),
    url("~/assets/fonts/Helvetica-Light.svg#Helvetica-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Alpha Echo";
  src: url("~/assets/fonts/AlphaEcho.eot");
  src: url("~/assets/fonts/AlphaEcho.eot?#iefix") format("embedded-opentype"),
    url("~/assets/fonts/AlphaEcho.woff2") format("woff2"),
    url("~/assets/fonts/AlphaEcho.woff") format("woff"),
    url("~/assets/fonts/AlphaEcho.ttf") format("truetype"),
    url("~/assets/fonts/AlphaEcho.svg#AlphaEcho") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("~/assets/fonts/HelveticaNeueBold.eot");
  src: url("~/assets/fonts/HelveticaNeueBold.eot?#iefix")
      format("embedded-opentype"),
    url("~/assets/fonts/HelveticaNeueBold.woff2") format("woff2"),
    url("~/assets/fonts/HelveticaNeueBold.woff") format("woff"),
    url("~/assets/fonts/HelveticaNeueBold.ttf") format("truetype"),
    url("~/assets/fonts/HelveticaNeueBold.svg#HelveticaNeueBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "fontello";
  src: url("~/assets/fonts/fontello.eot?1512247");
  src: url("~/assets/fonts/fontello.eot?1512247#iefix")
      format("embedded-opentype"),
    url("~/assets/fonts/fontello.woff2?1512247") format("woff2"),
    url("~/assets/fonts/fontello.woff?1512247") format("woff"),
    url("~/assets/fonts/fontello.ttf?1512247") format("truetype"),
    url("~/assets/fonts/fontello.svg?1512247#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "fontello";
    src: url("~/assets/fonts/fontello.svg?1512247#fontello") format("svg");
  }
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-user:before {
  content: "\e800";
} /* '' */
.icon-location:before {
  content: "\e801";
} /* '' */
.icon-users:before {
  content: "\e802";
} /* '' */
.icon-chat:before {
  content: "\e803";
} /* '' */
.icon-calendar:before {
  content: "\e804";
} /* '' */
.icon-twitter:before {
  content: "\f099";
} /* '' */
.icon-certificate:before {
  content: "\f0a3";
} /* '' */
.icon-instagram:before {
  content: "\f16d";
} /* '' */
.icon-facebook-squared:before {
  content: "\f308";
} /* '' */

html {
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: scrollbar;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  h: 100%;
  fz: 1.8rem;
  color: #000 #fff;
  t-r: optimizeLegibility;
  ff: system-ui;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  mih: 100vh;
  lh: 1.2;
  pos: relative;
  fw: normal;
}

.main-container {
  mih: 1px;

  &--full {
    w: 100%;
  }

  &--block {
    w: 80%;
    m: 0 auto;

    &__ct {
      w: 70%;
      m: 0 auto;
    }
  }

  &--wr {
    display: block;

    &:after,
    &:before {
      cnt: "";
      cl: both;
      d: table;
    }
  }
  &--rel {
    pos: relative;
  }
  &--ovh {
    ofl: hidden;
  }
}
